[user]
	email = 947986967@qq.com
	name = xzp
[core]
	editor = gvim
[alias]
	s = status
  ps = push
  pl = pull
  plom = pull origin master
  cm = commit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[color]
	ui = true
